apiVersion: v1
kind: Service
metadata:
  name: "{{ app_name }}"
  labels:
    app: "{{ app_name }}"
    kubify_version: "{{ kubify_version }}"
spec:
{% if expose_service == 'true' %}
  type: LoadBalancer
{% endif %}
  selector:
    app: "{{ app_name }}"
  ports:
  - protocol: TCP
    port: 80
    targetPort: {{ app_port }}
{% if (kubify_config | json_query('release.type')) == 'static_assets' or (kubify_config | json_query('configPath') is defined) %}
---
apiVersion: v1
kind: Service
metadata:
  name: "{{ app_name }}-config"
  labels:
    app: "{{ app_name }}-config"
    kubify_version: "{{ kubify_version }}"
spec:
{% if expose_service == 'true' %}
  type: LoadBalancer
{% endif %}
  selector:
    app: "{{ app_name }}-config"
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
{% endif %}