# example:
# [submodule "services/example-submodule-service"]
# 	path = services/example-submodule-service
# 	url = git@github.com:willyguggenheim/kubify-example-submodule-service.git
# 	branch = master