# Binary
**/kubesec

# IDEs
.vscode
**/.vscode
.devcontainer

# Keys
.aws
**/.aws
# NOTE: COMMENT THE NEXT LINE IF YOU ARE IN A PRIVATE FORK (AND MAKE SURE TO UNCOMMENT IF YOU ARE CONTRIBUTING TO OS PUBLIC REPO OR ANY PUBLIC FORK):
dev/svc/*/secrets
credentials
**/credentials

# Kubify
._kubify_work
**/._kubify_work
._*
kubify_config.sh
**/kubify_config.sh

# Mac
.DS_Store
**/.DS_Store
Thumbs.db
**/Thumbs.db
.Spotlight*
**/.Spotlight*
.Trash*
**/.Trash*

# Random
*.zip
**/*.zip
*.tgz
**/*.tgz
*.tar.gz
**/*.tar.gz
*.backup
**/*.backup
*.log
**/*.log
*.out
**/*.out
*.yamlbak
**/*.yamlbak
*.rdb
**/*.rdb
__pycache__
**/__pycache__
.pytest_cache
**/.pytest_cache

# Compiled Python
*.pyc
**/*.pyc
venv
**/venv
site-packages
**/site-packages

# Compiled C++
*.out
**/*.out

# Compiled NodeJS
node_modules
**/node_modules

# Compiled CSS
.sass-cache
**/.sass-cache

# Compiled CSharp
obj
**/obj
*.exe
**/*.exe
*.dll
**/*.dll

# Random Binaries
**/bootstrap/terraform
**/*-image/terragrunt

# Liscense Keys External
kubedb.txt
**/kubedb.txt

# Liscense Keys Internal
kubify-multicloud.txt
**/kubify-multicloud.txt