recursive-include kubify/src *
recursive-include kubify/ops *

recursive-include conda *.yaml
include conda/meta.yaml

include *.rst
include *.md
include LICENSE
exclude *.log

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-exclude *.jpg *.png *.gif
recursive-include docs conf.py *.cfg *.yml Makefile kubify examples .github

include *.lock
include *.yml
include .bumpversion.cfg
include BrewFile
include Dockerfile
include Makefile
include ./__v*
include ./__l*

include ansible.cfg
include tox.ini

recursive-include docs *
exclude docs/kubify.log
recursive-exclude docs/_build *
recursive-include kubify *
recursive-include kubify Makefile

recursive-include .devcontainer *
recursive-include .vscode *
recursive-include kubify *

include .dockerignore
include .editorconfig
include .gitmodules
include docs/CODEOWNERS

recursive-include environments *
recursive-include conda *.yaml
recursive-exclude kubify/._kubify_work *

recursive-exclude **/.pytest-kind *
recursive-exclude **/.log *
recursive-exclude **/secrets.*.enc.yaml *

recursive-exclude services *

include CODEOWNERS

include ./__*